.full-width{
    width: 100%;
}
.font-style {
    font-family: Copperplate Gothic Light;
    color: white;
}
.bg{
    background-image: url("/assets/images/4K_Photo_of_Spider_Man.jpg");
    background-size: cover;
    background-size: 100% 100%;
    width: 100%;
    height: 457px;
}

b:hover{
    background-color: green;
    color:white;
}

button.hover-effect:hover{
    color: yellow;
    background-color:cyan;
    transition: background-color 0.3s ease;
}